body {
  font-family: "Courier New", Courier, monospace;
  box-sizing: border-box;

  background-color: black;
  color: white;
}

.html img {
  background-color: black;
  width: 350px;
}

.brand h1 {
  color: white;
  font-size: 35px;
}

.about-me {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.btn button {
  margin-top: 30px;
}

.projects img {
  width: 500px;
}

.picture img {
  width: 550px;
  border-radius: 50%;
  position: relative;
  left: 30px;
  outline: 2px red solid;
}
.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
  position: relative;
  bottom: 150px;
  left: 150px;
}

.about p {
  margin: 0;
  font-size: 30px;
  position: relative;
  top: 30px;
  left: 90px;

  width: 90%;
}

nav {
  width: 100%;
  background-color: black;
}

.red {
  color: red;
  padding: 0;
  margin: 0;
}

.menu {
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
  font-size: 20px;
}

.menu a {
  margin-left: 10px;
  color: white;
  position: relative;
  bottom: 40px;
  margin-right: 50px;
  font-size: 30px;
}

.work {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.projects {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.work-title h1 {
  font-size: 30px;
  color: red;
  text-decoration: underline white;
}

button {
  background-color: red;
  color: white;
  font-size: 20px;
}

label {
  color: white;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  font-size: 50px;
  float: right;
  position: relative;
  bottom: 30px;
  background-color: red;
  display: none;
}

input {
  display: none;
}

@media (max-width: 712px) {
  .menu {
    text-align: center;

    display: none;
  }
  .html img {
    background-color: black;
    width: 350px;
  }

  .test h3 {
    display: flex;
    justify-content: center;
  }

  label {
    display: block;
    background-color: white;
    color: black;
    position: relative;
    bottom: 50px;
  }
  a {
    padding-top: 20px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    color: white;
  }

  .skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: white;
    position: relative;
    top: 10px;
    left: 5px;
  }

  .menu a {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 20px;
  }

  input[type="checkbox"]:checked ~ div {
    display: block;
  }

  .brand h1 {
    font-size: 5.9vw;
  }
  .about-me {
    display: flex;
    flex-direction: column;
  }
  .picture img {
    width: 90%;
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 50px;
    left: 30px;
  }
  .about p {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 26px;
    position: relative;
    left: 5px;
    bottom: 10px;
    margin-bottom: 30px;

    width: 100%;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
  }
}
