body {
  font-family: "Courier New", Courier, monospace;
  box-sizing: border-box;
  width: 100%;

  background-color: black;
  color: white;
}

.brand h1 {
  color: white;
  font-size: 35px;
}

.about-me {
  margin-top: 90px;
  display: flex;
  justify-content: center;
}

.picture img {
  width: 550px;
  border-radius: 50%;
  position: relative;
  left: 30px;
  outline: 2px red solid;
}

.about p {
  margin: 0;
  font-size: 30px;
  position: relative;
  top: 150px;
  left: 90px;

  width: 90%;
}

nav {
  width: 100%;
  background-color: black;
}

.red {
  color: red;
}

.menu {
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
  font-size: 20px;
}

.menu a {
  margin-left: 10px;
  color: white;
  position: relative;
  bottom: 40px;
  margin-right: 50px;
  font-size: 30px;
}

label {
  color: white;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  font-size: 30px;
  float: right;
  position: relative;
  bottom: 30px;
  background-color: red;
  display: none;
}

input {
  display: none;
}

@media (max-width: 712px) {
  .menu {
    text-align: center;

    display: none;
  }

  label {
    display: block;
    background-color: white;
    color: black;
    position: relative;
    bottom: 50px;
  }
  a {
    padding-top: 20px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    color: white;
  }

  .menu a {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 20px;
  }

  input[type="checkbox"]:checked ~ div {
    display: block;
  }

  .brand h1 {
    font-size: 5.9vw;
  }
  .about-me {
    display: flex;
    flex-direction: column;
  }
  .picture img {
    width: 350px;
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 0;
    left: 10px;
  }
  .about p {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 20px;
    position: relative;
    left: 50px;
    top: 20px;
    width: 100%;
  }
}
