* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  width: 100%;
  background-color: black;
  color: white;
}
.brand-title {
  display: flex;
  justify-content: flex-start;
  font: 1rem sans-serif;
  width: 50%;
}

nav {
  display: flex;
  justify-content: flex-end;
  text-decoration: none;
  position: relative;
  bottom: 20px;
  color: white;
}

.menu {
  margin-right: 20px;
}

.menu a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  margin-right: 20px;
}

.hero {
  background-image: url(background.png);
  background-size: cover;
  width: 100vw;
  height: 50vh;
}

.info {
  display: flex;
  justify-content: center;
  padding: 10px;
  position: relative;

  top: 90px;
  font-size: 30px;
  color: wheat;
}

.work {
  border-top: red 1px solid;
  width: 100%;
}

.git {
  color: red;
}

.my-work {
  display: flex;
  width: 50vw;
  padding: 40px;
  border: 1px black solid;
  background-color: cornflowerblue;
  height: 30%;
  font-family: "Courier New", Courier, monospace;
  border-radius: 5px;
  flex-direction: row;
}

img {
  display: flex;
  flex-direction: row;
  margin: 15px auto;
  width: 30vw;
  border-radius: 20px;
}

.work-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}

@media (max-width: 460px) {
  .menu a {
    color: white;

    position: relative;
    right: 50px;
    top: 20px;
    margin-top: 10px;
    padding: 5px;
  }

  .brand-title {
    display: none;
  }

  .info {
    display: flex;
    justify-content: center;
    align-self: center;
    font-size: 20px;
    width: 100%;
    margin-right: 10px;
    padding: 10px;
    position: relative;
    top: 60px;
    color: wheat;
    outline-color: red 20px solid;
  }

  .my-work {
    display: flex;
    width: 65vw;
    padding: 40px;
  }

  img {
    width: 50vw;
  }
}
