body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  width: 100%;
}

.hamburger {
  display: flex;
  justify-content: flex-end;
  position: relative;
  bottom: 50px;
  margin-right: 30px;
  font-size: 30px;
  cursor: pointer;
  display: none;
  width: 50px;
  float: right;
}

.menu {
  display: flex;
  justify-content: flex-end;

  position: relative;
  bottom: 40px;
}

a {
  margin-right: 40px;
  text-decoration: none;
  font-size: 1.1rem;
  color: black;
  font-weight: 200px;
}

.brand-title {
  width: 30%;
}

label {
  cursor: pointer;
  clear: left;
  width: 50px;
}

@media (max-width: 350px) {
  .brand-title {
    margin: 50% auto;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .menu {
    position: relative;
    bottom: 400px;
    right: 30px;
  }
}
